<div class="page-header">
  <h1> Survey Results</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Survey Name </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.name %></td>
      <td>
        <% question.answers.each do |answer| %>
        <%= answer.answers.join(' ') %> <br />
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back To Surveys",surveys_path,:class => 'btn btn-primary' %>