<div class="page-header">
  <h1> Survey Results</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td>
        <div class="survey-box"> 
          <% user.answers.each do |answer| %>
          <%=  answer.question.name %>
          <%=  get_formated_answer answer  %> 
          <br />
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back To Surveys",surveys_path,:class => 'btn btn-primary' %>